<div class="background">
  <div class="container pt-5">
    <h2 class="pb-5">
      <b>
        Fanimation Vietnam Co., Ltd
      </b>
    </h2>
    <div class="row">
      <div class="contact-content col-lg-6 col-md-6 col-12">
        <h3>
          Contact Information
        </h3>
        <div class="d-flex align-items-center my-3">
          <div class="icon d-flex align-items-center justify-content-center border border-black">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="row mx-2">
            <p>
              Address
            </p>
            <p>
              No. 8 Ton That Thuyet, My Dinh, Nam Tu Liem, Hanoi
            </p>
          </div>
        </div>
        <div class="d-flex align-items-center my-3">
          <div class="icon d-flex align-items-center justify-content-center border border-black">
            <i class="fa-solid fa-house"></i>
          </div>
          <div class="row mx-2">
            <p>
              Store
            </p>
            <p>
              No. 8 Ton That Thuyet, My Dinh, Nam Tu Liem, Hanoi
            </p>
          </div>
        </div>
        <div class="d-flex align-items-center my-3">
          <div class="icon d-flex align-items-center justify-content-center border border-black">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="row mx-2">
            <p>
              Hotline
            </p>
            <p>
              +84 387497691
            </p>
          </div>
        </div>
        <div class="d-flex align-items-center my-3">
          <div class="icon d-flex align-items-center justify-content-center border border-black">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="row mx-2">
            <p>
              Email
            </p>
            <p>
              chunghp3006@gmail.com
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="wrap-contact100">
          <form class="contact100-form validate-form">
            <span class="contact100-form-title">
              Send Us A Message
            </span>
            <div class="row justify-content-center send-message">
              <div class="col-6" style="padding-left: 0;">
                <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                  <input class="input100" type="text" name="name" placeholder="Full Name" required>
                  <span class="focus-input100"></span>
                </div>
              </div>
              <div class="col-6" style="padding-right: 0;">
                <div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x">
                  <input class="input100" type="text" name="email" placeholder="E-mail or Phone-number" required>
                  <span class="focus-input100"></span>
                </div>
              </div>
              <div class="wrap-input100 validate-input col-12" data-validate="Please enter your message">
                <textarea class="input100" name="message" placeholder="Your Message" required></textarea>
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="container-contact100-form-btn">
              <button type="submit" class="contact100-form-btn">
                <span>
                  <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                  Send message
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 my-5 pt-5">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.101399427113!2d105.77964371560081!3d21.02862838599846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32ecb92db%3A0x3964e6238a3bd088!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1664131244887!5m2!1svi!2s"
          height="500" style="border:0;" allowfullscreen="" style="width: 100%;"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
