<div class="container my-5">
  <h3><b>Maintenance policy</b></h3>
  <div class="row mt-5">
    <h5 class="text-primary">
      I. Free warranty conditions
    </h5>
    <li>
      The product is still under warranty for 12 months from the date of purchase.
    </li>
    <li>
      The product is damaged due to the manufacturer's technical error.
    </li>
    <li>
      Contact the place of purchase and present the purchase order (invoice) or buyer's phone number
    </li>
    <li>
      Only free warranty for the product, the cost of dismantling and shipping is borne by the customer (if any)
    </li>
    <li>
      Please note to keep the invoice and delivery note of Fanimation. We will only exchange items if you still have our
      voucher.
    </li>
    <h5 class="text-primary mt-5">
      II. Charged warranty case
    </h5>
    <li>
      Information (product name, serial number, date of purchase) on the delivery note, warranty registration and
      warranty card does not match or has been washed or erased.
    </li>
    <li>
      Arbitrarily disassembling, changing the product structure, using components that do not conform to the
      specifications and technical standards of the product.
    </li>
    <li>
      Arbitrarily bring the product to repair centers outside the warranty network.
    </li>
    <li>
      Problems caused by: transportation, improper installation, wrong voltage, unstable power supply, bad electrical
      connections, incorrect use of manuals, improper storage/use conditions product. Objective incidents: fire, storm,
      lightning...
    </li>
    <li>
      Normal wear and tear, appearance as well as damage to the paintwork.
    </li>
    <li>
      Disassembly and transportation will be charged according to specific cases (if any).
    </li>
    <p>
      <i>(Customers buy products at any dealer who warranty through that agent)</i>
    </p>
    <p>
      <i>When we receive the products, the customer's warranty will confirm the defect status, Free or chargeable
        Warranty,
        then we will send it to the company's service station, and schedule the return date, the shipping costs to
        guarantee the products. Passengers pay depending on the location and specific products.</i>
    </p>
  </div>
