<footer class="text-white bg-dark text-center text-lg-start footer">
  <div class="footer-chart">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3 col-lg-3">
          <div class="footer-item">
            <div class="icon"><img src="../../../assets/image/icon-1.png" alt=""></div>
            <div class="text">100% genuine guarantee</div>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-3">
          <div class="footer-item">
            <div class="icon"><img src="../../../assets/image/icon-2.png" alt=""></div>
            <div class="text">12 to 24 months warranty</div>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-3">
          <div class="footer-item">
            <div class="icon"><img src="../../../assets/image/icon-3.png" alt=""></div>
            <div class="text">Nationwide Delivery</div>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-3">
          <div class="footer-item">
            <div class="icon"><img src="../../../assets/image/icon-4.png" alt=""></div>
            <div class="text">Returns within 7 days</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About company</h5>

        <p>
          Fanimation Vietnam Co., Ltd - Head office: No. 8, Ton That Thuyet, My Dinh, Hanoi.
        </p>

        <p>
          Store: No. 8, Ton That Thuyet, My Dinh, Hanoi - Hotline: +84 387497691 - Fax: 000,000,00000 - Website:
          www.example.vn
        </p>
        <p>
          Person in charge of content management: Hoang Viet Chung.
        </p>
        <p>
          Email: chunghp3006@gmail.com
        </p>

        <div class="mt-4">
          <a type="button" class="btn btn-floating btn-lg text-light border-0"><i class="fab fa-facebook-f"></i></a>
          <a type="button" class="btn btn-floating btn-lg text-light border-0"><i class="fab fa-twitter"></i></a>
          <a type="button" class="btn btn-floating btn-lg text-light border-0"><i class="fab fa-google-plus-g"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Contact address</h5>
        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">No. 8, Ton That Thuyet, My Dinh,
              Hanoi.</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">chunghp3006@gmail.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+84 387 497 691</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">000.000.0000</span>
          </li>

        </ul>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>

        <table class="table text-center text-white">
          <tbody class="font-weight-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8AM - 9PM</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8AM - 1AM</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9AM - 10PM</td>
            </tr>
          </tbody>
        </table>

        <h5 class="text-uppercase my-5"><a class="text-white" style="text-decoration: none;" routerLink="/sitemap"><i
              class="fa-solid fa-sitemap"></i>
            Sitemap</a></h5>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/hvchunghp/eProject">T2204M</a>
  </div>
</footer>
