header {
  .main-header {
    background-color: #F0F8FF;

    .nav-item {
      a {
        color: #333;
      }
    }
  }
}

.topbar,
.bottomBar {
  background-color: #0067b3;
}

a {
  text-decoration: none;
  cursor         : pointer;

  &:hover {
    opacity: 0.7;
  }
}

.navbar-brand {
  img {
    width : 10em;
    height: 3em;
  }
}

.header {
  background   : #fff;
  transition   : all 0.5s;
  z-index      : 997;
  height       : 90px;
  border-bottom: 1px solid #fff;
}

@media (max-width: 575px) {
  .header {
    height: 70px;
  }
}

.header.sticked {
  border-color: #fff;
  border-color: #eee;
}

.header .btn-book-a-table,
.header .btn-book-a-table:focus {
  font-size    : 14px;
  color        : #fff;
  background   : var(--color-primary);
  padding      : 8px 20px;
  margin-left  : 30px;
  border-radius: 50px;
  transition   : 0.3s;
}

.header .btn-book-a-table:hover,
.header .btn-book-a-table:focus:hover {
  color     : #fff;
  background: rgba(206, 18, 18, 0.8);
}

section {
  scroll-margin-top: 90px;
}

@media (min-width: 576px) {

  .navbar ul {
    margin     : 0;
    padding    : 0;
    display    : flex;
    list-style : none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding    : 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 0 3px;
    font-family    : var(--font-secondary);
    font-size      : 16px;
    font-weight    : 600;
    color          : #ffff;
    white-space    : nowrap;
    transition     : 0.3s;
    position       : relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size  : 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content         : "";
    position        : absolute;
    width           : 100%;
    height          : 2px;
    bottom          : -6px;
    left            : 0;
    background-color: var(--color-primary);
    visibility      : hidden;
    width           : 0px;
    transition      : all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width     : 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: rgb(234, 238, 0);
  }

  .navbar {
    .dropdown {
      cursor: pointer;

      .child-menu {
        li {
          a {
            color: #000 !important;
          }
        }
      }
    }
  }

  .navbar .dropdown ul {
    display      : block;
    position     : absolute;
    left         : 28px;
    top          : calc(100% + 30px);
    margin       : 0;
    padding      : 10px 0;
    z-index      : 99;
    opacity      : 0;
    visibility   : hidden;
    background   : #fff;
    box-shadow   : 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition   : 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding       : 10px 20px;
    font-size     : 15px;
    text-transform: none;
    font-weight   : 600;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity   : 1;
    top       : 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top       : 0;
    left      : calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity   : 1;
    top       : 0;
    left      : 100%;
    visibility: visible;
  }
}

@media (max-width: 575px) {

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position  : static;
    display   : none;
    padding   : 10px 0;
    margin    : 10px 20px;
    transition: all 0.5s ease-in-out;
    border    : 1px solid #eee;
  }
}

.logo {
  img {
    width : 3em !important;
    height: 100% !important;
  }
}
