<div class="container my-5">
  <div class="row">
    <h3 class="mb-5"><b>Shipping policy</b></h3>
    <p>
      We, Fanimation Vietnam Co., Ltd. sell and deliver cash on delivery (COD) for all orders nationwide.
    </p>
    <p>
      For orders within Hanoi, we commit to deliver within 24 hours after placing the order. Customers can register the
      delivery address and specific time (day, morning/afternoon) so that the dispatching department can arrange the
      order on time.
    </p>
    <h3 class="mt-5">
      <b>Delivery policy</b>
    </h3>
    <ol class="main-content mx-3">
      <li>
        <h5 class="text-primary mt-5">
          <b>In Hanoi</b>
        </h5>
        <ul>
          <li>
            <p>
              Free Delivery in Hanoi with orders of 20$ or more in the following 7 inner districts of Hanoi:
              <br>
              Ba Dinh, Cau Giay, Dong Da, Hai Ba Trung, Hoan Kiem, Hoang Mai, Thanh Xuan.
            </p>
          </li>
          <li>
            <p>
              In addition to the above districts, the remaining districts still charge shipping
            </p>
          </li>
          <li>
            <p>
              For large value orders, please contact sales staff to get the best policy.
            </p>
          </li>
          <li>
            <p>For bulky products, you should contact via phone +84 387 497 691 for partial support on shipping fees
              (not
              calculated according to the shipping fee on the website).</p>
          </li>
        </ul>
        <figure class="text-center my-5">
          <img src="https://bizweb.dktcdn.net/100/391/529/files/vung-vc-hn.jpg?v=1659684029365" alt="">
          <figcaption>The free shipping zone is in the dark yellow circled line</figcaption>
        </figure>
      </li>
      <li>
        <h5 class="text-primary mt-5">
          <b>Nationwide Delivery</b>
        </h5>
        <ul>
          <li>
            <p>
              For customers in remote provinces, we send via courier such as VNPT, Viettel, or some other reputable
              delivery units.
            </p>
          </li>
          <li>
            <p>
              When placing an order, please fill in the necessary information completely and accurately as required to
              create favorable conditions for us in providing products and receiving payment quickly.
            </p>
          </li>
          <li>
            <p>
              Delivery time depends on your choice of courier or regular delivery, this time is only relative.
            </p>
          </li>
          <li>
            <p>
              Express delivery: From 2 to 3 days,
            </p>
          </li>
          <li>
            <p> Normal delivery: From 5 to 10 days
            </p>
          </li>
          <li>
            <p>
              Please check the products carefully as soon as you receive them from the freight forwarder, if there is a
              problem related to the type, quality, and quantity of the products that are not the same as in the order,
              please report them. immediately to us to coordinate with the delivery unit to handle the products.
              Customers
              can choose to pay in advance via bank transfer or pay on receipt.
            </p>
          </li>
          <li>
            <p>
              In some cases with provinces outside Hanoi, customers please contact to have the most beneficial direct
              shipping option for you.
            </p>
          </li>
          <li>
            <p>
              In case you ask our staff to directly install it at your home, we will charge a surcharge (installation
              fee,
              .....) according to each item's case when transacting.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <h5 class="text-primary mt-5">
          <b>Customers buy products at store No. 8, Ton That Thuyet, My Dinh, Nam Tu Liem</b>
        </h5>
        <ul>
          <li>
            <p>
              For products that customers come to buy directly at the store, we still support door-to-door delivery at
              customer's request or self-delivery.
            </p>
          </li>
        </ul>
      </li>
    </ol>
    <div class="row text-primary">
      <span>
        For more details or questions, please contact us through the customer care department of Fanimation Vietnam:
      </span>
      <span>
        Phone number: +84 387 497 691, Email: chunghp3006@gmail.com.
      </span>
    </div>
  </div>
</div>
