<div class="container my-5">
  <div class="row">
    <h2><b>Shopping guide</b></h2>
    <p>
      <b>Step 1:</b> Visit the website and select the product you want to buy
    </p>
    <p>
      <b>Step 2:</b> Click and the product you want to buy, the screen will pop up with the following options
      <li>
        If you want to continue shopping: Click continue shopping to choose to add products to the cart
      </li>
      <li>
        If you want to view cart to update products: Click to view cart
      </li>
      <li>
        If you want to order and pay for this product please click: Order and pay
      </li>
    </p>
    <p>
      <b>Step 3:</b> Select payment account information
      <li>
        If you already have an account, please enter your username and email and password in the already existing
        account
        on the system.
      </li>
      <li>
        If you do not have an account and want to register for an account, please fill in your personal information to
        continue registering for an account. Once you have an account, you can easily track your orders
      </li>
      <li>
        If you want to buy products without an account, please click on order without an account
      </li>
    </p>
    <p>
      <b>Step 4:</b> Fill in your information to receive your order, choose a payment and shipping method for your
      order
    </p>
    <p>
      <b>Step 5:</b> Review the order information, fill in the comments and submit the order
    </p>
    <span>
      After receiving your order, we will contact you by phone to confirm your order and address.
    </span>
    <span>
      Sincerely thank you.
    </span>
  </div>
</div>
