<div class="container my-5">
  <h2 class="mb-5"><b>About Fanimation</b></h2>

  <p>
    Established in 2022, Fanimation is the brand name of Vietnam Fan Joint Stock Company. One of the largest electric
    fan manufacturers in Vietnam. Being a heroic unit of labor and having many products won medals in fairs during the
    renovation period
  </p>
  <p>Famous as one of the best electric fan brands in Vietnam today, the products provided by Fanimation are always
    diverse in models and types, generating large amounts of wind, low power consumption, and durable motors. , smooth
    operation, beautiful appearance with color and style. These are the prerequisites that make Fanimation's electric
    fans always suitable for all living spaces, in accordance with the needs of each individual user. That's why,
    Fanimation's electric fan products are always popular with many consumers and always occupy the majority of the fan
    market in Vietnam.</p>
  <p>Fanimation Vietnam Co., Ltd. is a unit specializing in providing Fanimation electromechanical fans. With more than
    1 month of experience specializing in supplying products to contractors, wholesalers and retailers of electric fan
    products of the famous Vietnamese electric fan brand Fanimation, has established an online sales channel on website:
    example.com .vn to provide more complete details about product information and quality, warranty and guarantee for
    customers.</p>
  <p>
    With a staff of long-term experience in the field of wholesale and retail distribution... Fanimation understands the
    general practical needs in each period, each season... and always updates new products according to demand. reality.
    In addition, Fanimation imports products that are always genuine and direct from the manufacturer. This ensures that
    the product quality and price are always the best.
  </p>
  <ul>
    <li>
      The Fanimation product provided to customers is GENUINE ELECTRIC FAN, From the factory's distribution channel, the
      product is always quality assured.
    </li>
    <li>
      INSTALLATION SUPPORT for customers in Hanoi.
    </li>
    <li>
      NATIONWIDE HOME DELIVERY AND COLLECTION
    </li>
    <li>
      Exchange 7 days, delivery within 24 hours in Hanoi.
    </li>
    <li>
      All unified electromechanical fan products are warranted for 12 months.
    </li>
  </ul>
  <p>With the criterion "Always listen - Serve wholeheartedly - Do your best - Dear customers - Fanimation develops", we
    believe that Fanimation Vietnam will become a reliable address to help consumers save time. Time, effort and money
    when shopping online on website example.com.vn of Fanimation Vietnam Co., Ltd.</p>
  <p>
    Thank you very much!
  </p>
  <br><br>
  <h3>
    <p>
      FANIMATION VIETNAM CO., LTD
    </p>
  </h3>
  <p>No. 8 Ton That Thuyet, My Dinh, Nam Tu Liem, Hanoi</p>
  <p>Store: No. 8 Ton That Thuyet, My Dinh, Nam Tu Liem, Hanoi</p>
  <p>
    Phone: 0387497691, Email: chunghp3006@gmail.com
  </p>
</div>
