<div class="container my-5">
  <h3><b>Return policy</b></h3>
  <div class="row mt-5">
    <h5 class="text-primary">
      Products that are defective due to the manufacturer's fault will be exchanged for a new one.
    </h5>
    <p>
      Please note to keep the invoice and delivery note of Fanimation. We will only exchange items if you still have our
      voucher.
    </p>
    <p class="text-primary">
      1. Exchange warranty.
    </p>
    <li>
      In case the product is defective due to the manufacturer. If the product is defective within 7 days after
      delivery. Our technical team will carry out warranty repair for you. And commit to exchange if the product does
      not fix the defective condition.
    </li>
    <li>
      This policy only applies to products with intact stamps, not disassembled, repaired, not squashed, broken,
      scratched.
    </li>
    <p class="text-primary">
      2. Exchange products at the request of customers.
    </p>
    <li>
      This policy only applies to products with tags still intact, unassembled, unused, unscratched.
    </li>
    <li>
      Please pay the entire shipping fee for the time of delivery according to the shipping price list of Fanimation
      shipping department.
    </li>
    <p class="mt-3">
      Phone for warranty exchange: +84 387 497 691
    </p>
  </div>
</div>
