<div class="container my-5">
  <h3><b>Sitemap</b></h3>
  <div class="row mt-3">
    <a class="text-uppercase" routerLink="/">Home</a>
    <a class="text-uppercase" routerLink="/about">About</a>
    <a class="text-uppercase" routerLink="/products">Products</a>
    <a class="text-uppercase" routerLink="/promotion">Promotion</a>
    <a class="text-uppercase" routerLink="/contact">Contact</a>
    <a class="text-uppercase" routerLink="/cart">Cart</a>
    <a class="text-uppercase" routerLink="/login">Login</a>
    <div>Support
      <ul>
        <li><a class="text-uppercase" routerLink="/shopping-guide">Shopping guide</a></li>
        <li><a class="text-uppercase" routerLink="/payment-method">Payment method</a></li>
        <li><a class="text-uppercase" routerLink="/shipping-policy">Shipping policy</a></li>
        <li><a class="text-uppercase" routerLink="/return-policy">Return policy</a></li>
        <li><a class="text-uppercase" routerLink="/maintenance-policy">Maintenance policy</a></li>
        <li><a class="text-uppercase" routerLink="/FAQ">FAQ</a></li>
      </ul>
    </div>
  </div>
  <a class="text-uppercase" routerLink="/admin/products">Management product</a>
</div>
