<div class="container my-5">
  <div class="row">
    <h3><b>Payment method</b></h3>
    <p class="pt-3">
      Currently, you can pay for through two methods:
    </p>
    <ol class="mx-3">
      <li>
        COD direct payment:
        <ul>
          <li>Applies to cash payment orders.</li>
          <li>After checking and receiving the products, you pay directly in cash to the delivery staff.</li>
        </ul>
      </li>
      <li class="pt-3">
        Payment by wire transfer via internet banking:
        <ul>
          <li>Bank name: <b>MB Bank</b></li>
          <li>Account number: <b>000387497691</b></li>
          <li>Account name: <b>Hoang Viet Chung</b></li>
          <li>Transfer content: <b>fullname + phone number</b></li>
        </ul>
      </li>
    </ol>
  </div>
</div>
